@page "/servers"
@using System.Globalization

<PageTitle>Server Overview</PageTitle>

<h2 class="page-title">Servers</h2>

<div style="display: flex; flex-wrap: wrap; gap: 1rem; margin-top: 2rem;">
    @foreach (var city in cities)
    {
        <div class="location-card">
            <img src="@city.Image" width="100px" height="100px" alt="@city.Name" />
            <button type="button" class="city-button" @onclick="() => SetCity(city.Name)">
                @city.Name
            </button>
        </div>
    }
</div>

@if (servers is not null)
{
    <ul style="margin: 1rem 0; list-style: none">
        @foreach (var serv in servers)
        {
            <li class="status-wrapper">
                <p class="server-status-bar" style="background: @(serv.IsOnline ? "olivedrab" : "firebrick")">
                    @serv.Name - status: @(serv.IsOnline ? "online" : "offline") - last checked at @DateTime.Now.Subtract(halfHour).ToString()
                </p>
                <a class="server-link" href="/servers/@serv.ServerId">Edit Server</a>
                <a class="server-link" href="/serverdetails/@serv.ServerId">Status Details</a>
            </li>
        }
    </ul>
}

@code {
    private List<City> cities = CitiesRepository.GetCities();
    private List<Server>? servers;

    protected override void OnInitialized()
    {
        servers = ServersRepository.GetServersByCity("Amsterdam");
    }

    private void SetCity(string city)
    {
        servers = ServersRepository.GetServersByCity(city);
        StateHasChanged();
    }

    private TimeSpan halfHour = new(0, 30, 0);

}