@page "/servers"
@using System.Globalization

@inject NavigationManager Navigation

<PageTitle>Server Overview</PageTitle>

<h2 class="page-header">Servers</h2>

<div class="locations">
    @foreach (var city in cities)
    {
        <div class="location-card">
            <img src="@city.Image" width="100px" height="100px" alt="@city.Name" />
            <EditForm Model="city" FormName="@($"change-city-{city.Name}")" OnValidSubmit="@(() => { SetCity(city.Name); })">
                <button type="submit" class="city-button">
                    @city.Name
                </button>
            </EditForm>
        </div>
    }
</div>

@* @if (servers is not null)
{
    <ServersStatusList ServerList=@servers />
} *@

@if (servers is not null)
{
    <ul class="status-list">
    @foreach (var serv in servers)
    {
        <li>
            <ServerStatus @rendermode="InteractiveServer" Srvr=@serv/>
        </li>
    }
    </ul>
}

<a class="city-button add-server" href="/servers/add">Add a Server</a>

@code {
    private List<City> cities = [];
    private List<Server> servers = [];

    private string selectedCity = "Amsterdam";

    protected override void OnInitialized()
    {
        cities = CitiesRepository.GetCities();

        servers = ServersRepository.GetServersByCity(selectedCity);
    }

    private void SetCity(string city)
    {
        selectedCity = city;
        servers = ServersRepository.GetServersByCity(selectedCity);
        StateHasChanged();
    }

}